{{> head }}
{{> navbar }}

    <div class="row">
        <div class="col-7">
            <h2>Express</h2>
            <p>Fast, unopinionated, minimalist web framework for node.</p>
            <ul>
                <li>Allows to set up middlewares to respond to HTTP Requests.</li>
                <li>Defines a routing table which is used to perform different actions based on HTTP Method and URL.</li>
                <li>Allows to dynamically render HTML Pages based on passing arguments to templates.</li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-5">
            <img src="https://miro.medium.com/max/365/1*Jr3NFSKTfQWRUyjblBSKeg.png" class="img-thumbnail">
        </div>
    </div>

{{> footer }}





